@use "src/UI/styles/variables" as *;
@use "src/UI/styles/mixines" as *;

@mixin boxShadow {
  box-shadow: 0px 11px 9px 0px rgb(from $green-70 r g b / 30%);
}

.account {
  @include flex-center;
  justify-content: flex-start;
  gap: 16px;
  padding: 16px;
  box-shadow: 0px 0px 10px opacity-color($green-70, 0.1);
  border-radius: 25px;
  transition: $transition;
  background: $white-10;
  border-left: 6px solid $orange-20;

  &:hover {
    background: opacity-color(#3bc2a1, 0.05);
  }

  &:global(._isGreen) {
    border-left: 6px solid #10b981;

    .account {
      &_money {
        span {
          color: #10b981;
        }
      }
    }
  }

  &_icon {
    svg {
      width: 24px;
      height: auto;
      color: #4b5563;
      vertical-align: middle;
    }
  }

  &_name {
    font-size: 16px;
    color: $green-70;
  }
  &_money {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    strong {
      font-size: 18px;
      font-weight: 600;
    }
    span {
      color: $orange-20;
    }
  }
}