@use "sass:math";
@use "src/UI/styles/variables" as *;

@function fluid($max: 100, $min: 10) {
  $maxViewportWidth: 480;
  $minViewportWidth: 320;

  $maxSize: math.div($max, 16);
  $minSize: math.div($min, 16);
  $maxWidth: math.div($maxViewportWidth, 16);
  $minWidth: math.div($minViewportWidth, 16);

  $slope: math.div(($maxSize - $minSize), ($maxWidth - $minWidth));
  $yAxisIntersection: -$minWidth * $slope + $minSize;

  @return clamp(
    #{$minSize * 1rem},
    #{$yAxisIntersection * 1rem} + #{$slope * 100vw},
    #{$maxSize * 1rem}
  );
}

/** Функция отдает цвет с указанной прозрачностью */
@function opacity-color($color, $opacity) {
  $returnOpacity: calc(1 - $opacity);
  @return transparentize($color, $returnOpacity);
}

@mixin abs {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
@mixin abs-center {
  @include abs;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}
@mixin abs-x {
  @include abs;
  left: 50%;
  translate: -50% 0;
}
@mixin abs-y {
  @include abs;
  top: 50%;
  translate: 0 -50%;
}
@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin border($color: $green-40) {
  border: 1px solid $color;
}

@mixin before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0px;
}
