@use "../../UI/styles/variables" as *;

@mixin abs {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
@mixin abs-center {
  @include abs;
  left: 50%;
  translate: -50% 0 ;
}
@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin border($color: $green-40) {
  border: 1px solid $color;
}
