$color-0: #ffffff00;
$white-10: #ffffff;
$green-0: #f5f8f7;
$green-10: #e9f4ec;
$green-20: #a7cfca;
$green-30: #43e3a7;
$green-40: #00d885;
$green-50: #02d787;
$green-60: #1e8276;
$green-70: #001c18;
$green-80: #1aa44d;
$green-90: #3bc2a1;
$orange-10: #fef1e0;
$orange-20: #d88500;
$red-10: #f05555;
$gold-10: #fcc769;
$gray-10: #6b7280;
$gray-20: #4b5563;
$black-0: #000;

$border-radius: 15px;
$border: 1px solid $green-40;
$transition: 0.3s;
$maxWidthApp: 1920px;

@mixin inputBaseStyles {
  padding: 5px 10px;
  border: none;
  border-radius: 18px;
  width: 100%;
  color: $middleBlue;
  font-size: 16px;
  background: $white-10;
}

@mixin whiteBlock {
  background: $white-10;
  border-radius: 25px;
  padding: 30px 20px;
  box-shadow: 0px 0px 10px rgba(0, 28, 24, 0.1);

  @include phone {
    padding: 20px 20px;
  }
}

@mixin orangeLine {
  border-left: 6px solid $orange-20;
}

@mixin greenLine {
  border-left: 6px solid $green-30;
}

@mixin redLine {
  border-left: 6px solid $red-10;
}

@mixin phone {
  @media screen and (max-width: 700px) {
    @content;
  }
}
