@use "reset";
@use "variables" as *;
@use "mixines" as *;
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: $green-70;
  background: #F5F8F7;
}

* {
  box-sizing: border-box;
  outline: none;

  scrollbar-width: auto;
  scrollbar-color: #dddddd;
}

.container {
  max-width: 800px;
  padding: 0 10px;
  margin: 0 auto;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  & > div {
    &:first-child {
      flex: 1;
      padding-bottom: calc(63px + 10px);
    }
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #ffffff00;
}

::-webkit-scrollbar-thumb {
  background: $gold;
  border-radius: 10px;
}
