@use "reset";
@use "variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

#root {
  min-height: 100vh;
  // background: $darkBlue;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: $green-70;
  background: $green-10;
}

* {
  box-sizing: border-box;
  outline: none;

  scrollbar-width: auto;
  scrollbar-color: #dddddd;
}

.container {
  max-width: 1200px;
  padding: 20px 10px;
  margin: 0 auto;
  min-height: 100vh;
  @include phone {
    padding: 10px;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #ffffff00;
}

::-webkit-scrollbar-thumb {
  background: $gold;
  border-radius: 10px;
}
