@use "UI/styles/variables" as *;
@use "UI/styles/mixines" as *;

.back {
  padding-top: calc(54px + 10px);
  @include phone {
    padding-top: calc(56px + 10px);
  }

  &__inner {
    padding-block: 16px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 2000;
    box-shadow: 0px 0px 10px opacity-color($green-70, 0.1);
  }

  &__body {
    @include flex-center;
    justify-content: flex-start;
    gap: 10px;
    max-width: 800px;
    margin-inline: auto;
    padding: 0 20px;
  }
  &__icon {
    @include flex-center;
    gap: 10px;
    cursor: pointer;
    &:hover {
      svg {
        transform: scale(1.1);
      }
    }
    svg,
    span {
      color: #07ab6c;
    }
    svg {
      width: 20px;
      transition: 0.3s;
      @include phone {
        width: 24px;
      }
    }
    span {
      @include phone {
        display: none;
      }
    }
  }
  &__title {
    flex: 1;
    text-align: center;
    font-size: 22px;
    font-weight: 500;

    @include phone {
      font-size: 18px;
    }
  }
}
