@use "src/UI/styles/variables" as *;
@use "src/UI/styles/mixines" as *;

.main {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 30px;
  &:global(._isLoading) {
    @include flex-center;
  }
  &__header {
    position: relative;
    z-index: 2;
    max-width: 500px;
    margin-inline: auto;
  }
  & .loading {
    width: 100%;
    align-self: center;
    @include flex-center;
  }

  & .grid {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 0.5px solid rgb(from #001C18 r g b / 5%);

    &__item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 10px;
      padding: 16px;

      &:nth-child(even) {
        border-left: 1px solid rgb(from $green-70 r g b / 10%);
      }
      &:nth-child(odd) {
        border-right: 1px solid rgb(from $green-70 r g b / 10%);
      }
      &:nth-child(1) {
        width: 60%;
      }
      &:nth-child(2) {
        width: 40%;
      }
      &:nth-child(3) {
        width: 40%;
      }
      &:nth-child(4) {
        width: 60%;
      }
      &:nth-child(1),
      &:nth-child(2) {
        border-bottom: 1px solid rgb(from $green-70 r g b / 10%);
      }
      &:nth-child(3),
      &:nth-child(4) {
        border-top: 1px solid rgb(from $green-70 r g b / 10%);
      }

      &:global(._isLight) {
        strong {
          color: $green-40;
        }
      }
      &:global(._isRed) {
        strong {
          color: $orange-20;
        }
      }

      span {
        color: rgb(from $green-70 r g b / 60%);
        font-weight: 600;
      }
      strong {
        font-size: fluid(24, 16);
        font-weight: 700;
        color: $green-70;
      }
    }
  }

  & .token {
    display: grid;
    grid-template-areas:
      "title title"
      "input button";
    grid-template-columns: 80% auto;
    gap: 10px;
    &_title {
      grid-area: title;
      display: block;
    }
    :global(.input_component) {
      grid-area: input;
    }
    :global(.Button_component) {
      grid-area: button;
    }
  }

  & .title {
    font-weight: 600;
    font-size: 22px;
    padding-block: 15px;
    text-align: center;
  }

  & .accounts {
    background: #00d885;
    margin-inline: -10px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding: 10px;
    padding-bottom: 60px;
    position: relative;
    z-index: 1;

    &_inner {
      display: grid;
      gap: 5px;
      grid-template-columns: 1fr;

      @include phone {
        display: flex;
        flex-wrap: wrap;
      }
    }

    &::before {
      @include before;
      left: 50%;
      translate: -50% -50%;
      background: #fff;
      width: 100%;
      height: 283px;
      border-radius: 13%;
      z-index: -1;
    }
  }
}
