@use "../../UI/styles/variables";

.main {
  & .token {
    display: grid;
    grid-template-areas:
      "title title"
      "input button";
      grid-template-columns: 80% auto;
      gap: 10px;
    &_title {
      grid-area: title;
      display: block;
    }
    :global(.input_component) {
      grid-area: input;
    }
    :global(.Button_component) {
      grid-area: button;
    }
  }
  & .title {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 20px;
  }

  & .totalAmountAllPortfolio,
  & .totalAmountDepositsAllPortfolios {
    @include variables.beigeBlock;
    padding: 20px;
    border-bottom: 1px solid variables.$darkBlue;

    strong {
      display: block;
      font-size: 16px;
      margin-bottom: 5px;
    }
    span {
      font-size: 20px;
    }

    .difference {
      color: variables.$red;
      font-size: 16px;
      font-weight: 600;
      @include variables.phone {
        display: block;
        margin-top: 5px;
      }
      &:global(._isGreen) {
        color: variables.$green;
      }
    }
  }

  & .accounts {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
