@use "UI/styles/variables";

.auth {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &_title {
    font-size: 2em;
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    position: relative;

    :global(.Button_component) {
      margin-top: 10px;
      height: 42px;
    }
    &_input {
      position: relative;
    }
    &_inputError {
      position: absolute;
      left: 0;
      top: calc(100% + 4px);
      width: 100%;
      color: variables.$red;
      font-size: 14px;
      font-weight: 600;
    }

    &_error {
      position: absolute;
      left: 0;
      top: calc(100% + 4px);
      width: 100%;
      color: variables.$red;
      font-size: 14px;
      font-weight: 600;
    }
    &_login {
      text-align: center;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        color: variables.$gold;
      }
    }
  }
}
