@use "src/UI/styles/variables" as *;
@use "src/UI/styles/mixines" as *;

.goals {
  &:global(._isOpen) {
    .goals__body {
      transform: translateX(0);
    }
  }

  &__main {
    background: #00af86;
    background: linear-gradient(130deg, #00af86, #009673);
    border-radius: 5px;
    border-radius: 15px 0 0 15px;
    box-shadow: 0 1px 4px 2px #001c1899;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    padding: 15px;
    position: fixed;
    right: 0;
    top: 180px;
    transform: translateX(50%);
    transition: 0.3s;
    z-index: 1;

    &:hover {
      transform: translateX(0);
    }
  }
  &__body {
    background: #fff;
    border-radius: 5px;
    border-radius: 5px 0 0 5px;
    box-shadow: -5px 0 20px 3px rgba(42, 57, 79, 0.751);
    display: flex;
    flex-direction: column;
    gap: 50px;
    min-height: 100vh;
    padding: 66px 20px 20px;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(110%);
    transition: 0.3s;
    width: 50vw;
    z-index: 20;
    @include phone {
      width: 100vw;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &_item {
      display: flex;
      flex-direction: column;
      gap: 5px;
      span {
        font-size: 14px;
      }
    }
  }
  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
}
