@use "src/UI/styles/variables" as *;
@use "src/UI/styles/mixines" as *;

.goals {
  &:global(._isOpen) {
    .goals__body {
      transform: translateX(0);
    }
  }
  &__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(20, 20, 20, 0.45);
    backdrop-filter: blur(4px);
    z-index: 20000;
    transition: opacity 0.2s;
  }

  &__main {
    background: #00af86;
    background: linear-gradient(130deg, #00af86, #009673);
    border-radius: 5px;
    border-radius: 15px 0 0 15px;
    box-shadow: 0 1px 4px 2px #001c1899;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    padding: 15px;
    position: fixed;
    right: 0;
    top: 180px;
    transform: translateX(10%);
    transition: 0.3s;
    z-index: 1;
    writing-mode: sideways-lr;

    &:hover {
      transform: translateX(0);
    }

    @include phone {
      font-size: 14px;
      letter-spacing: 2px;
      padding: 17px 4px;
      top: 267px;
    }
  }
  &__body {
    background: #fff;
    border-radius: 5px;
    border-radius: 5px 0 0 5px;
    box-shadow: -5px 0 20px 3px rgba(42, 57, 79, 0.751);
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    padding: 20px;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(110%);
    transition: 0.3s;
    width: 50vw;
    z-index: 20000;
    @include phone {
      width: 100vw;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    padding-right: 20px;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &_item {
      display: flex;
      flex-direction: column;
      gap: 5px;
      span {
        font-size: 14px;
      }
    }
  }
  &__actions {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 10px;
    position: sticky;
    bottom: 0;
    background: #fff;
    flex: 1;
  }
}
