@use "src/UI/styles/variables" as *;
@use "src/UI/styles/mixines" as *;

[data-theme="dark"] {
  .menu {
    background: opacity-color($green-60, 0.2);
    &__item {
      &:global(._isActive) {
        svg,
        span {
          color: $gold-10;
        }
      }
      &:hover {
        svg,
        span {
          color: $gold-10;
        }
      }
      svg,
      span {
        color: $white-10;
      }
    }
  }
}

.menu {
  position: fixed;
  left: 0%;
  bottom: 0;
  width: 100vw;
  z-index: 1000;
  height: auto;
  box-shadow: 0px -1px 7px 1px rgb(from $green-70 r g b / 10%);
  background: $white-10;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  &__wrapper {
    @include flex-center;
    justify-content: space-around;
    margin-inline: auto;
    max-width: 800px;
  }

  &__item {
    cursor: pointer;
    @include flex-center;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    padding: 12px 6px;

    &:global(._isActive) {
      svg,
      span {
        color: $green-80;
      }
    }

    &:global(._isDisabled) {
      pointer-events: none;
    }

    &:hover {
      svg,
      span {
        color: $green-80;
      }
    }

    svg {
      width: 18px;
      height: auto;
      color: $black-0;
      transition: $transition;
    }
    span {
      font-size: 10px;
      font-weight: 400;
    }
  }
}
