@use "src/UI/styles/variables" as *;
@use "src/UI/styles/mixines" as *;

.input {
  display: flex;
  flex-direction: column;
  gap: 5px;

  &:global(.isDisabled) {
    .input_body {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  & .checkbox {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;

    &:global(._isChecked) {
      .checkbox_square {
        background: $orange-20;
        &::before {
          left: calc(32px - 12px - 4px);
        }
      }
    }

    &_square {
      width: 32px;
      height: 20px;
      background: $middleGray;
      border-radius: 5px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: 4px;
        top: 50%;
        transform: translateY(-50%);
        width: 12px;
        height: 12px;
        background: #fff;
        border-radius: 3px;
        transition: 0.3s;
      }
    }
    .input_label {
      cursor: pointer;
      font-size: 16px;
    }
  }
  &_label {
    font-size: 14px;
  }
  &_body {
    border: none;
    border-radius: $border-radius;
    background: $green-10;
    padding: 5px 10px;
    font-size: 14px;
    min-height: 40px;
    color: $green-70;
    border: $border;
    &::placeholder {
      color: $green-70;
    }
  }
  &_error {
    color: $orange;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.1em;
  }
}
