@use "src/UI/styles/variables" as *;
@use "src/UI/styles/mixines" as *;

.input {
  display: flex;
  flex-direction: column;
  gap: 5px;

  &:global(.isDisabled) {
    .input_body {
      opacity: 0.5;
      cursor: not-allowed;
    }
    &.checkbox {
      cursor: not-allowed !important;
      & > * {
        pointer-events: none !important;
      }
    }
  }

  &:global(._isLeftLabel) {
    & .checkbox {
      justify-content: flex-end;
      flex-direction: row-reverse;
    }
  }
  &.checkbox {
    width: fit-content;
  }
  & .checkbox {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;

    &:global(._isChecked) {
      .checkbox_square {
        background: #10b981;
        &::before {
          left: calc(24px);
        }
      }
    }

    &_square {
      flex: none;
      width: 42px;
      height: 22px;
      background: #cccccc;
      border-radius: 24px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: 4px;
        top: 50%;
        transform: translateY(-50%);
        @include square(14px);
        background: #fff;
        border-radius: 24px;
        transition: 0.3s;
      }
    }
    .input_label {
      cursor: pointer;
      font-size: 16px;
    }
  }
  &_label {
    font-size: 14px;
  }
  &_body {
    border: none;
    border-radius: $border-radius;
    background: $white-10;
    padding: 5px 10px;
    font-size: 14px;
    min-height: 40px;
    color: $green-70;
    border: 1px solid #E0E1E0;
    &::placeholder {
      color: $green-70;
    }
  }
  &_error {
    color:$orange-20;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.1em;
  }
}
