@use "../../../UI/styles/variables";

.input {
  display: flex;
  flex-direction: column;
  gap: 5px;

  & .checkbox {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;

    &:global(._isChecked) {
      .checkbox_square {
        background: variables.$gold;
        &::before {
          left: calc(32px - 12px - 4px);
        }
      }
    }

    &_square {
      width: 32px;
      height: 20px;
      background: variables.$middleGray;
      border-radius: 5px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: 4px;
        top: 50%;
        transform: translateY(-50%);
        width: 12px;
        height: 12px;
        background: #fff;
        border-radius: 3px;
        transition: 0.3s;
      }
    }
    .input_label {
      cursor: pointer;
      font-size: 16px;
    }
  }

  &_label {
    font-size: 20px;
  }
  &_body {
    border: none;
    border-radius: 5px;
    background: #fff;
    padding: 5px 10px;
    font-size: 14px;
    min-height: 40px;
    color: variables.$lightBlue;
    &::placeholder {
      color: variables.$lightBlue;
    }
  }
  &_error {
    color: variables.$orange;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.1em;
  }
}
