@use "../../../UI/styles/variables";

.input {
  display: flex;
  flex-direction: column;
  gap: 5px;

  &.checkbox {
    flex-direction: row;
    align-items: center;
    min-height: 20px;
    .input {
      &_label {
        font-size: 16px;
        cursor: pointer;
        z-index: 1;
        span {
          padding-left: 40px;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 32px;
            height: 20px;
            border-radius: 5px;
            transition: 0.3s;
            background: variables.$middleGray;
            z-index: 2;
          }
          &::after {
            content: "";
            position: absolute;
            width: 12px;
            height: 12px;
            top: 50%;
            transform: translateY(-50%);
            left: 4px;
            border-radius: 3px;
            z-index: 3;
            transition: 0.3s;
            background: #fff;
          }
        }
        strong {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          display: block;
        }
      }
    }

    input {
      display: none;

      &:checked {
        & + span {
          &::before {
            background: variables.$gold;
          }
          &::after {
            left: calc(32px - 4px - 12px);
          }
        }
      }
    }
  }

  &_label {
    font-size: 20px;
  }
  &_body {
    border: none;
    border-radius: 5px;
    background: #fff;
    padding: 5px 10px;
    font-size: 14px;
    min-height: 40px;
    color: variables.$lightBlue;
    &::placeholder {
      color: variables.$lightBlue;
    }
  }
}
