@use "src/UI/styles/variables" as *;
@use "src/UI/styles/mixines" as *;

[data-theme="dark"] {
  .card {
    background: opacity-color($green-70, 0.2);
    box-shadow: 0px 0px 10px opacity-color($white-10, 0.1);
    color: opacity-color($white-10, 0.7);
  }
}

.card {
  background: $white-10;
  border-radius: 16px;
  padding: 16px;
  color: $green-70;
  box-shadow: 0px 0px 10px opacity-color($green-70, 0.1);

  @include phone {
    padding: 10px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__title {
    font-size: 16px;
  }
  &__total {
    font-weight: 600;
    font-size: 18px;
  }
  &__average {
    text-align: center;
    font-size: 14px;
    strong {
      color: $green-80;
      font-weight: 600;
    }
  }
  &__chart {
    margin-top: 12px;
    height: 180px;
    margin-bottom: 12px;
  }
}
