@use "UI/styles/variables" as *;
@use "UI/styles/mixines" as *;

.sort {
  @include flex-center;
  display: inline-flex;
  gap: 5px;
  cursor: pointer;

  &:global(._isAsc) {
    svg {
      &:first-child {
        path {
          fill: $green-50;
        }
      }
    }
  }
  &:global(._isDesc) {
    svg {
      &:last-child {
        path {
          fill: $green-50;
        }
      }
    }
  }

  &__label {
    @include phone {
      font-size: 12px;
    }
  }
}

.sortArrow {
  @include flex-center;
  display: inline-flex;
  flex-direction: column;

  svg {
    width: 10px;
    height: auto;
    color: $green-20;

    &:first-child {
      transform: rotate(-90deg);
    }

    &:last-child {
      transform: rotate(90deg);
    }
  }
}
