.load {
  width: 60px;
  height: 14px;
  background: #e7e7e7;
  animation: load-item 1.1s infinite;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 2px;
}

@keyframes load-item {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0.8;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
