@use "./../../UI/styles/variables";

.account {
  @include variables.yellowBlock;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  align-items: center;
  display: flex;
  gap: 10px;
  padding: 20px;

  &_img {
    align-items: center;
    background: linear-gradient(225deg, #2f2f3a, #59595a);
    border-radius: 100%;
    display: flex;
    flex: none;
    height: 32px;
    justify-content: center;
    width: 32px;

    svg {
      color: #fff;
      height: auto;
      width: 22px;
    }
  }

  &_name {
    font-size: 18px;
    margin-bottom: 5px;
  }
}
