@use "UI/styles/variables" as *;
@use "UI/styles/mixines" as *;

.calc_container {
  max-width: calc(80vw - 20px);
  @include phone {
    max-width: 100vw;
  }
  .actions {
    @include flex-center;
    justify-content: flex-start;
    gap: 20px;
    margin-bottom: 10px;

    &__item {
      padding-block: 4px;
      cursor: pointer;
      transition: color 0.3s;
      @include flex-center;
      gap: 4px;

      &:hover {
        color: #00c98d;
      }
    }
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;

  &_title {
    font-weight: 600;
    font-size: 22px;
    padding-block: 15px;
  }

  &_field {
    display: grid;
    grid-template-columns: 3fr 1fr;

    :global(.input_component) {
      height: 100%;
    }
    :global(.input_body) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      flex: 1;
    }
    :global(.Button_component) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  &:global(.isLoading) {
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    padding-block: 30vh;
  }
  @include phone {
    grid-template-columns: 1fr;
  }

  .empty {
    color: #969f9d;
    font-size: 14px;
  }
}

.bond {
  width: 100%;
  display: grid;
  gap: 10px;
  border-radius: 20px;

  &__inner {
    overflow: hidden;
    border-radius: 20px;
    background: $white-10;
    padding: 20px;
    font-size: 14px;
    display: grid;
    position: relative;
    box-shadow: 0px 0px 10px opacity-color($green-70, 0.1);
  }

  &:hover {
    .bond_actions {
      transform: translate(0, 0%);
    }
  }

  @include phone {
    &:hover {
      .bond_actions {
        transform: translate(100%, 0);
      }
    }
    &:global(.isShowMenu) {
      .bond_actions {
        transform: translate(0, 0%);
      }
    }
  }

  &_actions {
    @include flex-center;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 15px;
    @include abs;
    right: 0;
    left: auto;
    width: 60px;
    height: 100%;
    transform: translate(100%, 0);
    transition: transform 0.5s;
    background: $white-10;
    box-shadow: 0px 0px 10px opacity-color($green-70, 0.1);

    &_top {
      @include flex-center;
      flex-direction: column;
      gap: 10px;
    }
  }

  & .remove,
  & .saveChanges {
    cursor: pointer;
    padding: 6px;
    font-size: 12px;
    border-radius: 5px;
  }

  &_row {
    padding-block: 6px;
    border-bottom: 1px solid #f2f2f2;
    display: grid;
    grid-template-columns: 70% auto;
    align-items: center;
    gap: 5px;
    font-weight: 400;
    font-size: 14px;

    &:last-child {
      border: none;
    }

    &:global(.readOnly) {
    }
    &:global(.isWrite) {
      input {
        display: block;
        background: #ffffff00;
        width: 100%;
        border: none;
        color: $green-70;
      }
    }
    &:global(.forbidden) {
      cursor: not-allowed;
    }
    &:global(.isResult) {
      padding: 0;
      cursor: not-allowed;
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
      gap: 5px;
      span {
        font-weight: 700;
        font-size: 20px;
        line-height: 140%;
        letter-spacing: 0.01em;
        color: #32c691;
      }
      strong {
        color: #969f9d;
      }
    }
    &:global(._isWrongPrice) {
      input {
        background: $red;
        color: $lightGray;
      }
    }
    &:global(.weight) {
      font-weight: 700;
    }
    &:global(._isLightGreen) {
    }
    &:global(._isHide) {
      display: none;
    }
  }
  &_name {
    display: block;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 600;
    font-size: 21px;
    letter-spacing: 0.03em;
    color: $orange-20;
    margin-bottom: 14px;
  }

  &__result {
    background: #e5f9f4;
    border-radius: 20px;
    padding: 10px;
    display: grid;
    gap: 10px;
  }
}
