@use "UI/styles/variables" as *;
@use "UI/styles/mixines" as *;

.calc_container {
  max-width: calc(80vw - 20px);
  @include phone {
    max-width: 100vw;
  }
  .actions {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;

  &_title {
    font-weight: 600;
    font-size: 22px;
    padding-block: 15px;
    text-align: center;
  }

  &_field {
    display: flex;
    align-items: center;
    gap: 10px;

    :global(.input_component) {
      flex: 1;
    }
    :global(.Button_component) {
      height: 40px;
    }
  }
}

.body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  &:global(.isLoading) {
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    padding-block: 30vh;
  }
  @include phone {
    grid-template-columns: 1fr;
  }
}

.bond {
  background: $white-10;
  border-radius: $border-radius;
  width: 100%;
  padding: 0;
  font-size: 14px;
  border: 1px solid $green-70;
  overflow: hidden;
  position: relative;
  display: grid;

  &:hover {
    .bond_actions {
      transform: translate(0, 0%);
      background: transparentize($violet, 0.2);
      backdrop-filter: blur(5px);
    }
  }

  &_actions {
    @include flex-center;
    justify-content: space-between;
    padding: 10px 5px;
    @include abs;
    height: auto;
    transform: translate(0, -100%);
    transition: transform 0.5s;
    &::before {
      @include before;
      background: $violet;
      backdrop-filter: blur(0px);
    }
  }

  & .remove,
  & .saveChanges {
    cursor: pointer;
    padding: 6px;
    font-size: 12px;
    border-radius: 5px;
  }

  & .saveChanges {
    top: 34px;
  }

  &_row {
    padding: 5px 10px;
    border-bottom: 1px solid $darkBlue;
    display: grid;
    grid-template-columns: 70% auto;
    align-items: center;
    gap: 5px;

    &:last-child {
      border: none;
    }

    &:global(.readOnly) {
      @include purpuleBlock;
    }
    &:global(.isWrite) {
      @include yellowBlock;
      input {
        display: block;
        background: #ffffff00;
        width: 100%;
        border: none;
        color: $green-70;
      }
    }
    &:global(.forbidden) {
      cursor: not-allowed;
      @include greyBlock;
    }
    &:global(.isResult) {
      cursor: not-allowed;
      background: $green-50;
      color: $green-70;
      font-size: 18px;
    }
    &:global(._isWrongPrice) {
      input {
        background: $red;
        color: $lightGray;
      }
    }
    &:global(.weight) {
      font-weight: 700;
    }
    &:global(._isLightGreen) {
      background: $green-50;
    }
    &:global(._isHide) {
      display: none;
    }
  }
  &_name {
    display: block;
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
    font-weight: 600;
    letter-spacing: 0.03em;
    color: $green-70;
    &:hover {
      color: $orange-20;
    }

    &:global(._isfloating) {
      @include orangeBlock;
    }
  }
}
