@use "src/UI/styles/variables" as *;
@use "src/UI/styles/mixines" as *;

.menu {
  position: fixed;
  left: 50%;
  translate: -50% 0;
  bottom: 0;
  width: 100vw;

  height: auto;
  box-shadow: 0px 0px 4px 1px rgb(from $green-70 r g b / 20%);
  background: rgb(from $white-10 r g b / 80%);
  backdrop-filter: blur(5px);

  &__wrapper {
    max-width: $maxWidthApp;
    @include flex-center;
    justify-content: space-around;
    margin-inline: auto;
  }

  &__item {
    cursor: pointer;
    @include flex-center;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    padding: 10px;

    &:global(._isActive) {
      svg,
      span {
        color: $green-60;
      }
    }

    &:hover {
      svg,
      span {
        color: $green-60;
      }
    }

    svg {
      width: 22px;
      height: auto;
      color: #000;
      transition: $transition;
    }
    span {
      font-size: 10px;
      font-weight: 400;
    }
  }
}
