@use "src/UI/styles/variables" as *;
@use "src/UI/styles/mixines" as *;

.menu {
  position: fixed;
  left: 0%;
  bottom: 0;
  width: 100vw;
  z-index: 1000;
  height: auto;
  box-shadow: 0px -1px 7px 1px rgb(from $green-70 r g b / 10%);
  background: $white-10;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  &__wrapper {
    @include flex-center;
    justify-content: space-around;
    margin-inline: auto;
    max-width: 800px;
  }

  &__item {
    cursor: pointer;
    @include flex-center;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    padding: 12px 6px;

    &:global(._isActive) {
      svg,
      span {
        color: #1AA44D;
      }
    }

    &:hover {
      svg,
      span {
        color: #1AA44D;
      }
    }

    svg {
      width: 18px;
      height: auto;
      color: #000;
      transition: $transition;
    }
    span {
      font-size: 10px;
      font-weight: 400;
    }
  }
}
