@use "src/UI/styles/variables" as *;
@use "src/UI/styles/mixines" as *;

.etf {
  display: grid;
  gap: 10px;
  &:global(._isGreen) {
    .share__info {
      &:global(.isColor) {
        span {
          color: $green-90;
        }
      }
    }
    .etf__profitability {
      color: $green-90;
    }
  }
  &__invested {
    strong {
      font-size: 14px;
    }
    span {
      font-size: 12px;
      font-weight: bold
    }
  }
  &__info {
    @include flex-center;
    justify-content: flex-start;
    gap: 10px;
    @include phone {
      justify-content: space-between;
    }
    &:global(.isColor) {
      span,
      strong {
        color: $orange-20;
      }
    }
    strong {
      font-weight: 700;
    }

    &.color {
      color: $orange-20;
      &:global(._isGreen) {
        color: $green-90;
      }
      span {
        @include phone {
          text-align: right;
          flex: none;
        }
      }
    }
  }

  &__header {
    @include flex-center;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
  }
  &__current {
    display: grid;
    gap: 10px;
    font-weight: 700;
  }
  &__price {
    font-size: 28px;
  }
  &__toggle {
    margin-top: 30px;
    @include flex-center;
    justify-content: space-between;
    gap: 20px;
    @include phone {
      justify-content: space-around;
    }
  }
  &__profitability {
    @include flex-center;
    justify-content: flex-start;
    gap: 10px;
    font-size: 16px;
    color: $orange-20;
    strong {
      position: relative;

      &::after {
        position: absolute;
        right: -5px;
        transform: translate(50%, -50%);
        top: 50%;
        content: "/";
      }
    }
  }
  &__life {
    font-size: 16px;
  }

  &__purchases {
    margin-top: 10px;
    display: grid;
    gap: 16px;

    @include phone {
      margin-top: 20px;
    }
  }
}