@use "src/UI/styles/variables" as *;
@use "src/UI/styles/mixines" as *;

.grid {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.total {
  &_wrapper {
    @include whiteBlock;
    @include flex-center;
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;

    &_item {
      width: 100%;
      @include flex-center;
      justify-content: space-between;
      gap: 10px;
      span {
        color: #6b7280;
      }
      strong {
        color: #10b981;
        font-weight: 700;
        font-size: 16px;
      }
    }
  }
}

.actions {
  margin-top: 10px;
  @include flex-center;
  gap: 10px;
  justify-content: flex-start;

  @include phone {
    justify-content: space-between;
  }

  &__item {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ececec;
    text-align: center;
    font-size: 12px;

    &:global(._isActive) {
      font-weight: 600;
      background: #e9f8f1;
      border: 1px solid #10b981;
      font-size: 11px;
    }
  }
}

.item {
  @include flex-center;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  &__date {
    font-weight: 700;
    font-size: 18px;
  }
  &__body {
    @include whiteBlock;
    width: 100%;
    @include flex-center;
    flex-direction: column;
    gap: 6px;
    align-items: flex-start;
  }

  &__type {
    color: #6b7280;
    font-size: 12px;
  }

  &__info {
    @include flex-center;
    justify-content: space-between;
    width: 100%;

    strong {
      font-size: 20px;
      color: $green-70;
    }
    span {
      color: #10b981;
      font-weight: 700;
      font-size: 20px;
    }
  }
}
