@use "../../UI/styles/variables";

.grid {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.total {
  @include variables.standartBlock;
  @include variables.orangeBlock;
  align-items: center;
  color: #e9e8eb;
  display: flex;
  font-size: 22px;
  justify-content: center;
  &.shares {
    @include variables.redBlock;
  }
  &.all {
    @include variables.yellowBlock;
  }
  &_wrapper {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-end;
    margin-top: 40px;
    @include variables.phone {
      margin-top: 20px;
    }
  }
}

.actions {
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px
}

.item {
  @include variables.standartBlock;
  @include variables.greyBlock;
  align-items: center;
  display: flex;
  gap: 20px;
  padding: 26px 10px 10px;
  position: relative;
  @include variables.phone {
    gap: 20px;
    align-items: flex-end;
    padding: 4px 10px 10px;
  }
  &_left {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  &_date {
    font-size: 26px;
    @include variables.phone {
      font-size: 18px;
    }
  }
  &_body {
    flex: 1;
  }
  &_info {
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex: 1;
    @include variables.phone {
      flex-direction: column-reverse;
      align-items: flex-end;
      gap: 5px;
      text-align: left;
    }
  }
  &_name {
    font-size: 20px;
    @include variables.phone {
      font-size: 16px;
      width: 100%;
    }
  }
  &_price {
    @include variables.standartBlock;
    @include variables.orangeBlock;
    align-items: center;
    display: flex;
    font-size: 22px;
    justify-content: center;

    &:global(._isDividend) {
      @include variables.redBlock;
    }
    &:global(._isRepayment) {
      @include variables.purpuleBlock;
    }

    @include variables.phone {
      font-size: 18px;
      padding: 6px;
    }
  }

  &_type {
    @include variables.standartBlock;
    @include variables.orangeBlock;
    left: 10px;
    padding: 2px 5px;
    position: absolute;
    top: 5px;

    &:global(._isDividend) {
      @include variables.redBlock;
      padding: 2px 5px;
    }
    &:global(._isRepayment) {
      @include variables.purpuleBlock;
    }
  }
}
