@use "../../../UI/styles/variables" as *;
@use "../../../UI/styles/mixines" as *;

[data-theme="dark"] {
  .btn {
    &:global(._isEmptyText) {
      color: opacity-color($white-10, 0.7);
    }
  }
}

.btn {
  border: none;
  padding: 12px 14px;
  border-radius: $border-radius;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s;
  background: linear-gradient(
    130deg,
    rgb(0, 175, 134) 0%,
    rgb(0, 150, 115) 100%
  );
  color: $white-10;
  border: 1px solid transparent;
  position: relative;

  &:hover {
    background: transparent;
    @include border;
    color: $green-90;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background: $green-90;
      color: $white-10;
    }
  }

  &::before {
    @include before;
    @include abs-center;
    height: 100%;
    width: 100%;
  }

  &:global(._isIcon) {
    display: flex;
    align-items: center;
    gap: 10px;
    svg {
      vertical-align: middle;
      width: 20px;
      height: auto;
    }
  }

  &:global(._isEmptyText) {
    padding: 0;
    background: none;
    color: $green-90;
    width: fit-content;
    border: none;
    border-radius: 0;
    svg {
      width: 24px;
      height: auto;
      vertical-align: middle;
    }
  }

  &:global(._isReverse) {
    flex-direction: row-reverse;
  }

  &:global(._isBorderStyle) {
    background: transparent;
    border: 1px solid $green-90;
    color: $green-90;

    &:hover {
      background: $green-90;
      color: $white-10;
      border: 1px solid transparent;
    }
  }
}
