@use "../../../UI/styles/variables" as *;
@use "../../../UI/styles/mixines" as *;

.btn {
  border: none;
  padding: 8px 12px;
  border-radius: $border-radius;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s;
  background: $green-40;
  color: $white-10;
  border: 1px solid transparent;

  &:hover {
    background: transparent;
    @include border;
    color: $green-40;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background: $green-40;
      color: $white-10;
    }
  }

  &:global(._isBorderStyle) {
    background: transparent;
    border: 1px solid $green-40;
    color: $green-40;

    &:hover {
      background: $green-40;
      color: $white-10;
      border: 1px solid transparent;
    }
  }

  @include phone {
    font-size: 14px;
    padding: 6px 10px;
  }
}
