@use "../../../UI/styles/variables";

.btn {
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;

  @include variables.phone {
    font-size: 14px;
    padding: 6px 10px;
  }
}
