@use "src/UI/styles/variables" as *;
@use "src/UI/styles/mixines" as *;

.share {
  display: grid;
  gap: 10px;
  &:global(._isGreen) {
    .share__info {
      &:global(.isColor) {
        span {
          color: $green-90;
        }
      }
    }
  }
  &__info {
    @include flex-center;
    justify-content: flex-start;
    gap: 10px;
    @include phone {
      justify-content: space-between;
    }
    &:global(.isColor) {
      span {
        color: $orange-20;
      }
    }
    strong {
      font-weight: 700;
    }
    span {
    }

    &.color {
      color: $orange-20;
      &:global(._isGreen) {
        color: $green-90;
      }
      span {
        @include phone {
          text-align: right;
          flex: none;
        }
      }
    }
  }

  &__purchases {
    margin-top: 40px;
    display: grid;
    gap: 16px;

    @include phone {
      margin-top: 20px;
    }
  }
}