@use "src/UI/styles/variables" as *;
@use "src/UI/styles/mixines" as *;

$smoothness: 120px;
$heightBg: 75%;
$opacity-green-40: rgb(from $green-40 r g b / 60%);

@mixin secondPartSmoothness {
  content: "";
  @include abs;
  width: 100%;
  height: $smoothness;
}

@mixin firstPartSmoothness {
  @include secondPartSmoothness;
  top: auto;
  bottom: 0;
}

.auth {
  width: 100vw;
  height: 100vh;
  position: relative;
  @include flex-center;
  flex-direction: column;

  &__bg {
    @include abs;
    z-index: 1;
    @include flex-center;
    flex-direction: column;

    span {
      display: block;
      width: 100%;
      height: 50%;
      position: relative;

      &:first-child {
        height: $heightBg;
        background: $green-10;
        &::before {
          @include firstPartSmoothness;
          background: $opacity-green-40;
        }
        &::after {
          @include firstPartSmoothness;
          background: $green-10;
          border-bottom-right-radius: $smoothness;
        }
      }
      &:last-child {
        height: calc(100% - #{$heightBg});
        background: $opacity-green-40;
        &::before {
          @include secondPartSmoothness;
          background: $green-10;
        }
        &::after {
          @include secondPartSmoothness;
          background: $opacity-green-40;
          border-top-left-radius: $smoothness;
        }
      }
    }
  }

  &_title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
  }

  .logo {
    @include flex-center;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    top: 20px;
    height: auto;
    z-index: 2;
    color: #001c18;

    &__slogan {
      text-align: center;
      font-size: 16px;
      font-weight: 600;
    }

    svg {
      width: 200px;
      height: auto;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    position: relative;
    z-index: 3;

    :global(.Button_component) {
      margin-top: 10px;
      height: 42px;
    }
    &_input {
      position: relative;
    }
    &_inputError {
      position: absolute;
      left: 4px;
      top: calc(100% + 2px);
      width: 100%;
      color: $red-10;
      font-size: 12px;
      font-weight: 600;
    }

    &_error {
      position: absolute;
      left: 0;
      top: calc(100% + 15px);
      width: 100%;
      color: $red-10;
      font-size: 14px;
      font-weight: 600;
      text-align: center;
    }
    &_login {
      text-align: center;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        color: $green-70;
      }
    }
  }
}
