@use "src/UI/styles/variables" as *;
@use "src/UI/styles/mixines" as *;

[data-theme="dark"] {
  .shares {
    &__item {
      background: opacity-color($green-70, 0.2);
      box-shadow: 0px 0px 10px opacity-color($white-10, 0.1);
    }
  }
}

.shares {
  display: flex;
  flex-direction: column;
  gap: 5px;
  &__tabs {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  &__item {
    cursor: pointer;
    @include whiteBlock;
    @include flex-center;
    justify-content: flex-start;
    gap: 16px;
    padding: 20px 20px;
    &_icon {
      flex: none;
      @include square(40px);
      border-radius: 8px;
      background: #d9d9d9;
      @include flex-center;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    &_name {
    }
    &_precent {
      flex: 1;
      text-align: right;
      white-space: nowrap;
      font-size: 20px;
      font-weight: 700;
    }
  }
}
