@use "src/UI/styles/variables" as *;
@use "src/UI/styles/mixines" as *;

.calendar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include phone {
      flex-direction: column-reverse;
      gap: 10px;
    }

    :global(.input_component) {
      @include phone {
        width: 100%;
        flex: 1;
      }
    }
  }
  &__tabs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    // &_item {
    //   padding: 10px;
    //   border-radius: 10px;
    //   border: 1px solid $green-40;
    //   cursor: pointer;
    //   transition: 0.3s;

    //   &:hover {
    //     transform: scale(1.05);
    //   }

    //   &:global(._isActive) {
    //     background: $green-40;
    //   }
    // }
  }
  &__grid {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &_empty {
      text-align: center;
      font-size: 20px;
    }
  }
  &__payout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    gap: 10px;
    &_name {
      @include phone {
        font-size: 16px;
      }
    }
    &_value {
      font-weight: 700;
      color: $green-90;
      white-space: nowrap;
    }
    &_type {
      margin-bottom: 5px;
      color: $gray-10;
      font-size: 12px;
    }
  }
  &__group {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &_info {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &_date {
      font-size: 18px;
      font-weight: 700;
    }
    &_total {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 16px;
      font-weight: 500;
      padding-right: 20px;
      span {
        color: $gray-10;
      }
      strong {
        color: $orange-20;
      }
    }
  }
}
