@use "UI/styles/variables" as *;
@use "UI/styles/mixines" as *;

@mixin pricesStyle {
  @include flex-center;
  justify-content: flex-start;
  gap: 10px;
  color: #6b7280;
  font-size: 14px;

  svg {
    width: 12px;
    height: auto;
  }
}

.header_actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.income {
  &_actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
    @include phone {
      flex-direction: column;
      align-items: flex-start;

      :global(.input_component) {
        width: 100%;
      }
    }
  }
  &__sort {
    @include flex-center;
    justify-content: flex-start;
    gap: 20px;
    margin-bottom: 10px;

    &_item {
      padding-block: 4px;
      cursor: pointer;
      transition: color 0.3s;
      @include flex-center;
      gap: 4px;

      &:hover {
        color: #00c98d;
      }
    }
  }
  &_list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &_item {
    @include whiteBlock;
    border-left: 6px solid $color-0;
    display: grid;
    gap: 10px;
    padding: 20px 20px;

    &:global(._isGreen) {
      @include greenLine;
      .income {
        &_item {
          &_percent {
            color: #10b981;
          }
        }
      }
    }
    &:global(._isRed) {
      @include redLine;
      .income {
        &_item {
          &_percent {
            color: $red;
          }
        }
      }
    }
    &:global(._isOrange) {
      @include orangeLine;
      .income {
        &_item {
          &_percent {
            color: $orange-20;
          }
          &_time {
            span {
              
              &:last-child {
                padding: 4px 6px;
                border-radius: 14px;
                background: #fef9c3;
                color: #854d0e;
              }
            }
          }
        }
      }
    }
    &_time {
      @include flex-center;
      justify-content: space-between;
      gap: 10px;
      color: #6b7280;
      font-size: 12px;
    }
    &_bottom {
      @include flex-center;
      justify-content: space-between;
      @include phone {
        align-items: flex-end;
      }
    }
    &_prices {
      @include flex-center;
      justify-content: flex-start;
      gap: 30px;

      @include phone {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
      }
    }
    &_percent {
      font-weight: 700;
      font-size: 22px;
    }
    &_lot {
      @include pricesStyle;
    }

    &_value {
      @include pricesStyle;
      font-weight: 600;
    }
  }
}
