@use "UI/styles/variables";

.symbols {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 20px;
  & > div {
    display: flex;
    align-items: center;
    gap: 10px;
    strong {
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 5px;
    }
    span {
      font-size: 16px;
    }
  }

  & .green {
    strong {
      background: variables.$green;
    }
  }
  & .red {
    strong {
      background: variables.$red;
    }
  }
  & .threeYears {
    strong {
      background: variables.$gold;
    }
  }
}

.header_actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shares {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include variables.phone {
    margin-top: 10px;
  }

  &_actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    @include variables.phone {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &_title {
    font-size: 24px;
  }
  &_list {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  &_item {
    display: flex;
    flex-direction: column;
    gap: 4px;
    @include variables.standartBlock;
    @include variables.middleBlueBlock;
    padding: 6px 8px;

    &:global(._isProfitablePurchase) {
      background: variables.$green;
    }
    &:global(._isUnprofitablePurchase) {
      background: variables.$red;
    }

    &_row {
      display: grid;
      grid-template-columns: 20px 200px 80px 80px repeat(4, 1fr);
      gap: 4px;
      &:global(._isHeader) {
        border-bottom: 2px solid variables.$lightBlue;
        padding-bottom: 4px;
        padding: 6px 8px;
        @include variables.phone {
          @include variables.beigeBlock;
        }
        .profitabilityNow,
        .number,
        .date {
          cursor: pointer;
        }
      }
      .priceTotal,
      .priceActiality {
        strong {
          font-size: 14px;
          font-weight: 600;
        }
        span {
          font-size: 12px;
        }
      }
      @include variables.phone {
        display: grid;
        grid-template-areas:
          "date name name"
          "ownershipPeriod priceTotal quantity"
          "ownershipPeriod priceActiality profitabilityNow";
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        gap: 10px 20px;

        .number {
          grid-area: number;
          display: none;
        }
        .name {
          grid-area: name;
          text-align: center;
          font-weight: 600;
        }
        .date {
          grid-area: date;
        }
        .quantity {
          grid-area: quantity;
          text-align: left;
        }
        .priceTotal {
          grid-area: priceTotal;
          text-align: right;
        }
        .priceActiality {
          grid-area: priceActiality;
          text-align: right;
        }
        .profitabilityNow {
          grid-area: profitabilityNow;
        }
        .ownershipPeriod {
          grid-area: ownershipPeriod;
          display: flex;
          flex-direction: column;
          gap: 4px;
        }
      }
    }
  }
}
