@use "UI/styles/variables" as *;

.back {
  width: fit-content;
  background: $green-60;
}

.symbols {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 20px;
  & > div {
    display: flex;
    align-items: center;
    gap: 10px;
    strong {
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 5px;
    }
    span {
      font-size: 16px;
    }
  }

  & .green {
    strong {
      background: $green-60;
    }
  }
  & .red {
    strong {
      background: $red;
    }
  }
  & .threeYears {
    strong {
      background: $orange-20;
    }
  }
}

.header_actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.income {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &:global(.isEtf) {
    .income_item {
      @include phone {
        padding: 4px 6px;
      }
    }
    .income_item_row {
      grid-template-columns: 20px 80px repeat(4, 1fr);
      gap: 15px;

      &:global(._isHeader) {
        @include phone {
          .profitabilityNow {
            font-weight: normal;
            font-size: inherit;
          }
        }
      }

      @include phone {
        grid-template-areas:
          "date ownershipPeriod ownershipPeriod"
          "priceTotal  priceActiality profitabilityNow";
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        justify-items: flex-start;
        gap: 15px 10px;
      }
    }
    .name,
    .quantity {
      display: none;
    }
    .priceTotal {
      @include phone {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }
    }
    .priceActiality {
      @include phone {
        display: flex;
        flex-direction: column;
        gap: 5px;
        text-align: left;
      }
    }
    .ownershipPeriod {
      @include phone {
        flex-direction: row;
        justify-content: flex-end;
        grid-column-start: 2;
      }
    }
    .profitabilityNow {
      @include phone {
        font-weight: 500;
      }
    }
  }

  &:global(.isShares) {
    .income_item_row {
      grid-template-columns: 20px 150px 80px 50px repeat(3, 1fr);

      .priceTotal {
        display: none;
      }
      .ownershipPeriod {
        display: flex;
        flex-direction: column;
      }
    }
  }

  &_header {
    position: sticky;
    top: 0;
    background: $white-10;
  }

  @include phone {
    margin-top: 10px;
  }

  &_actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    @include phone {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &_title {
    font-size: 24px;
  }
  &_list {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  &_item {
    display: flex;
    flex-direction: column;
    gap: 4px;
    @include standartBlock;
    @include middleBlueBlock;
    padding: 6px 8px;

    &:global(._isProfitablePurchase) {
      background: $green-60;
    }
    &:global(._isUnprofitablePurchase) {
      background: $red;
    }

    &_row {
      display: grid;
      grid-template-columns: 20px 150px 80px 50px repeat(4, 1fr);
      gap: 4px;
      &:global(._isHeader) {
        border-bottom: 2px solid $green-40;
        padding-bottom: 4px;
        padding: 6px 8px;
        // @include phone {
        //   @include beigeBlock;
        // }
        .profitabilityNow,
        .number,
        .date {
          cursor: pointer;
        }
      }
      .priceTotal,
      .priceActiality {
        strong {
          font-size: 14px;
          font-weight: 600;
        }
        span {
          font-size: 12px;
        }
      }
      @include phone {
        display: grid;
        grid-template-areas:
          "date name name"
          "ownershipPeriod priceTotal quantity"
          "ownershipPeriod priceActiality profitabilityNow";
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        gap: 10px 20px;

        .number {
          grid-area: number;
          display: none;
        }
        .name {
          grid-area: name;
          text-align: center;
          font-weight: 600;
        }
        .date {
          grid-area: date;
        }
        .quantity {
          grid-area: quantity;
          text-align: left;
        }
        .priceTotal {
          grid-area: priceTotal;
          text-align: right;
        }
        .priceActiality {
          grid-area: priceActiality;
          text-align: right;
        }
        .profitabilityNow {
          grid-area: profitabilityNow;
        }
        .ownershipPeriod {
          grid-area: ownershipPeriod;
          display: flex;
          flex-direction: column;
          gap: 4px;
        }
      }
    }
  }
}
