@use "src/UI/styles/variables" as *;
@use "src/UI/styles/mixines" as *;

.main {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 20px;
  &:global(._isLoading) {
    @include flex-center;
  }
  &__header {
  }
  & .loading {
    width: 100%;
    align-self: center;
    @include flex-center;
  }

  & .grid {
    background: #ffffff;
    border-radius: 25px;
    padding: 20px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px 10px;
    box-shadow: 0px 0px 10px opacity-color($green-70, 0.1);

    &__item {
      display: grid;
      gap: 10px;
      &:global(._isGreen) {
        strong {
          color: #3bc2a1;
        }
      }
      span {
        color: opacity-color(#6b7280, 0.7);
        font-weight: 500;
      }
      strong {
        font-size: 14px;
        font-weight: 700;
        color: #ef444c;
      }
      &:nth-child(1) {
        width: 100%;
        span {
          color: #6b7280;
          font-size: 18px;
          font-weight: 500;
        }
        strong {
          font-size: 28px;
          font-weight: 600;
          color: #000000;
        }
      }
      &:last-child {
        strong {
          color: #000000;
        }
      }
    }
  }

  & .token {
    &_title {
      display: block;
      padding: 20px 0;
      font-size: 20px;
      line-height: 1.3;
      text-align: center;

      a {
        color: #3bc2a1;
        font-weight: 500;
      }
    }
    :global(.input_component) {
      margin-bottom: 10px;
    }
    :global(.Button_component) {
      width: 100%;
    }
  }

  & .title {
    font-weight: 600;
    font-size: 22px;
    padding-block: 15px;
    padding-left: 20px;
  }

  & .accounts {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
}
