@use "../../../UI/styles/variables";

.bond {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    gap: 4px;
    @include variables.standartBlock;
    @include variables.yellowBlock;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
  }
}
