@use "../../UI/styles/variables";

.portfolio {
  font-size: 16px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;

  &_data {
    @include variables.standartBlock;
    @include variables.middleBlueBlock;
    display: flex;
    justify-content: space-between;

    @include variables.phone {
      gap: 10px;
    }
  }
  &_info {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  &_name {
    font-size: 28px;
    @include variables.phone {
      font-size: 24px;
      margin-bottom: 10px;
    }
  }
  &_amount {
    background: variables.$red;
    padding: 5px;
    border-radius: 5px;
    width: fit-content;
    &:global(._isGreen) {
      background: variables.$green;
    }
    @include variables.phone {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }
  &_actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    @include variables.phone {
      justify-content: space-between;
    }
  }
  &_start {
    @include variables.phone {
      span {
        display: block;
        text-align: right;
      }
    }
  }
  &_calendar {
  }
  &_grid {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    & > div {
      align-items: center;
      display: flex;
      flex-basis: auto;
      flex-direction: column;
      flex-grow: 1;
      flex-shrink: 1;
      justify-content: center;
      overflow: hidden;
      padding: 20px;
      text-align: center;
      strong {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 4px;
      }
      span {
        font-size: 24px;
      }
    }
  }
  &_balance {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    & > div {
      align-items: center;
      display: flex;
      flex-basis: auto;
      flex-direction: column;
      flex-grow: 1;
      flex-shrink: 1;
      justify-content: center;
      overflow: hidden;
      padding: 20px;
      text-align: center;
      strong {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 4px;
      }
      span {
        font-size: 24px;
      }
    }
  }
  &_investments {
    @include variables.standartBlock;
    @include variables.greyBlock;
    align-items: center;
    border-radius: 5px;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    overflow: hidden;
    padding: 20px;
    text-align: center;
    width: 100%;
  }
  &_comissions,
  &_taxes {
    @include variables.redBlock;
    @include variables.standartBlock;
  }
  &_coupons,
  &_dividends {
    @include variables.blueBlock;
    @include variables.standartBlock;
  }
  &_profitability {
    @include variables.greyBlock;
    @include variables.standartBlock;
  }
  &_shares {
    @include variables.standartBlock;
    @include variables.orangeBlock;
    cursor: pointer;
  }
  &_rubBonds {
    @include variables.standartBlock;
    @include variables.purpuleBlock;
  }
  &_usdBonds {
    @include variables.standartBlock;
    @include variables.beigeBlock;
  }
  &_etf {
    @include variables.standartBlock;
    @include variables.yellowBlock;
    cursor: pointer;
  }
  &_rebalance {
    padding: 20px 10px;
    font-size: 20px;
  }
}
