@use "src/UI/styles/variables" as *;
@use "src/UI/styles/mixines" as *;

.portfolio {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 20px;

  &:global(.isGreen) {
    .portfolio {
      &_data {
        @include greenLine;
      }
      &_amount {
        span {
          color: #10b981;
        }
      }
    }
  }

  &__title {
    font-weight: 600;
    font-size: 22px;
    padding-block: 15px;
  }

  &_data {
    @include whiteBlock;
    @include flex-center;
    gap: 10px;
    @include orangeLine;
    align-items: flex-start;
    justify-content: space-between;
  }
  &_block {
    @include whiteBlock;
    @include flex-center;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    &:global(.isActive) {
      padding: 0;
      overflow: hidden;
      gap: 0;
      .portfolio_blockItem {
        align-items: flex-start;
        padding: 12px 20px;

        span {
          display: flex;
          gap: 5px;
          font-weight: normal;
          font-size: 16px;
          &:last-child {
            font-weight: 600;
          }
        }
        strong {
          line-height: 20px;
        }
      }
    }
  }
  &_blockItem {
    width: 100%;
    @include flex-center;
    justify-content: flex-start;
    gap: 10px;
    transition: background 0.3s;

    &:global(.isShare),
    &:global(.isBond),
    &:global(.isEtf) {
      cursor: pointer;

      &:hover {
        background: opacity-color(#10b981, 0.1);
      }
    }

    &:first-child {
      span {
        font-weight: 700;
        font-size: 18px;
      }
    }

    svg {
      color: #104243;
      width: 20px;
      height: auto;
    }
    strong {
      flex: 1;
      color: #104243;
      font-size: 16px;
      font-weight: 500;
    }
    span {
      text-align: right;
      color: #104243;
    }
  }
  &_amount {
    display: grid;
    gap: 10px;
    font-weight: 700;
    strong {
      font-size: 28px;
      color: #104243;
    }
    span {
      font-size: 16px;
      color: #d88500;
    }
  }
  &_actions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;

    :global(.Button_component) {
      &::before {
        width: 120%;
        height: 120%;
      }
    }
  }
  &_start {
    color: #2d666a;
  }
  &_rebalance {
    font-size: 20px;
    background: #00af86;
    background: linear-gradient(
      130deg,
      rgba(0, 175, 134, 1) 0%,
      rgba(0, 150, 115, 1) 100%
    );
  }
}
