@use "src/UI/styles/variables" as *;

.goals {
  &:global(._isOpen) {
    .goals_body {
      transform: translateX(0px);
    }
  }
  &_main {
    @include standartBlock;
    background: #00af86;
    background: linear-gradient(
      130deg,
      rgba(0, 175, 134, 1) 0%,
      rgba(0, 150, 115, 1) 100%
    );
    box-shadow: transparentize($green-70, 0.4) 0px 1px 4px 2px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    position: fixed;
    right: 0px;
    top: 180px;
    transform: translateX(50%);
    z-index: 1;
    border-radius: 15px 0px 0px 15px;
    padding: 15px;
    transition: 0.3s;
    color: $white-10;

    @include phone {
      transform: translateX(0%);
    }

    &:hover {
      transform: translateX(0px);
    }
  }
  &_body {
    @include standartBlock;
    background: $white-10;
    box-shadow: rgba(42, 57, 79, 0.751) -5px 0px 20px 3px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    min-height: 100vh;
    position: fixed;
    right: 0px;
    top: 0px;
    transform: translateX(110%);
    z-index: 20;
    border-radius: 5px 0px 0px 5px;
    padding: 20px;
    transition: 0.3s;
    width: 50vw;
    @include phone {
      width: 100vw;
    }
  }
  &_actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  &_hint {
    color: $red;
    font-size: 16px;
    animation: 2s linear 0s infinite normal none running scale;
    margin-bottom: 10px;
  }
  &_content {
  }
  &_form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &_modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 90vw;
    height: 90vh;
    z-index: 10;
    @include standartBlock;
   background: #fff;
    transition: 0.5s;
    max-width: 1040px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 14px;

    @include phone {
      width: 100vw;
      height: 100vh;
      border-radius: 0;
      left: 0;
      top: 0;
      transform: translate(0) scale(0);
      padding: 20px;
    }

    &:global(._isOpen) {
      transform: translate(-50%, -50%) scale(1);
      box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.522);

      @include phone {
        transform: translate(0) scale(1);
      }
    }

    &_btn {
      display: flex;
      justify-content: flex-end;
    :global(.Button_component) {
      width: 100%;
      background: #00af86;
      background: linear-gradient(
        130deg,
        rgba(0, 175, 134, 1) 0%,
        rgba(0, 150, 115, 1) 100%
      );
    }
    }
  }
  &_input {
    display: flex;
    align-items: center;
    gap: 10px;
    strong {
      font-size: 18px;
      @include phone {
        font-size: 14px;
      }
    }

    :global(.input_component) {
      flex: 1;
    }
  }
  &_info {
    &:nth-of-type(3) {
      margin-bottom: 40px;
    }
    strong {
      font-size: 18px;
    }
    span {
      color: $green;
      font-size: 20px;
    }
  }
  &_actions {
  }
}

@keyframes scale {
  0% {
    ransform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    ransform: scale(1);
  }
}
